<div id="donation-view--number-input-display">
  <span class="display">How many books would you like to donate?</span>
  <button class="clear-button hidden">Clear</button>
</div>

<button>
<a routerLink="/dashboard">Back</a>
</button>

<div id="donation-view--number-input-container">
  <span data-id="1">1</span>
  <span data-id="2">2</span>
  <span data-id="3">3</span>
  <span data-id="4">4</span>
  <span data-id="5">5</span>
  <span data-id="6">6</span>
  <span data-id="7">7</span>
  <span data-id="8">8</span>
  <span data-id="9">9</span>
  <span data-id="0">0</span>
</div>

<button id="donation-view--donate-button">Donate</button>

<!-- <button id="donation-view--instructions-button">+ Add instructions</button> -->
<button (click)="toggleShow()" type="checkbox" >+ Instructions</button>

<div *ngIf="isShown" class="row container-fluid"  id="divshow" >
<h2>Pickup Info</h2>

  <div>
          <label>Address: </label>
          <input placeholder="861 Regulus St. CA, 94404"/>
  </div>

  <div class="additional_instructions">
          <label>Additional Instructions: </label>
          <input placeholder="I.e. Ring the doorbell to pickup books"/>
  </div>

</div>

<!-- <div class="hover_bkgr_fricc">
    <span class="helper"></span>
    <div>
        <div class="popupCloseButton">X</div>
        <p>Add any HTML content<br />inside the popup box!</p>
    </div>
</div> -->


