h2 {
  color: #6C72DD;
}

label {
  display: inline-block;
  width: 3em;
  margin: .5em 0;
  color: #6C72DD;
  font-weight: bold;
}

input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
  background-color: #6C72DD;
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
}

button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
} 


button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

.donor-info-modal {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  min-width: 100%;
  min-height: 100%;
}

.donor-info-modal-container {
  background-color: #FFFFFF;
  border-radius: 8px;
  width: 75%;
}
