<h1>Transportation</h1>

<div>
<h3>Hours Driven</h3>
<select ng-change="onChange()">
  <option value="0">Today</option>
  <option value="1">Past Week</option>
  <option value="2">Past Month</option>
  <option value="3">All Time</option>
</select>
</div>
<app-goal [radius]=75 [stroke]=10 [progress]=65></app-goal>

<hr>

<div>
<h3>Books Delivered</h3>
<select ng-change="onChange()">
  <option value="0">Today</option>
  <option value="1">Past Week</option>
  <option value="2">Past Month</option>
  <option value="3">All Time</option>
</select>
</div>
<app-goal [radius]=75 [stroke]=10 [progress]=65></app-goal>

<hr>

<h3>Goal</h3>
